@model Warehouse.Web.Models.OperationsTabViewModel

<li class="nav-item">
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Операции
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" asp-area="" asp-controller="" asp-action="" asp-route-companyId="">Продажби</a>
            <a class="dropdown-item" asp-area="" asp-controller="" asp-action="" asp-route-companyId="">Доставки</a>
            <a class="dropdown-item" asp-area="" asp-controller="" asp-action="" asp-route-companyId="">Трансфер</a>
            <a class="dropdown-item" asp-area="" asp-controller="" asp-action="" asp-route-companyId="">Брак</a>
            <a class="dropdown-item" asp-area="" asp-controller="" asp-action="" asp-route-companyId="">Изписване на стоки</a>
            
            <div class="dropright">
                <a class="dropdown-toggle nav-link" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Рекламации
                </a>
                <div class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" asp-area="" asp-controller="" asp-action="" asp-route-companyId="">Рекламации от клиент</a>
                    <a class="dropdown-item" asp-area="" asp-controller="" asp-action="" asp-route-companyId="">Рекламации към доставчик</a>
                </div>
            </div>
        </div>
    </div>
</li>