@model Warehouse.Web.Models.MerchantTabViewModel

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white active text-capitalize" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Търговски екран</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="" asp-controller="" asp-action="" asp-route-id="">Продажба</a>
        <a class="dropdown-item" asp-area="" asp-controller="" asp-action="" asp-route-id="">Поръчка</a>
    </div>
</li>