@model Warehouse.Data.Models.Company

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdentificationCode" class="control-label"></label>
                <input asp-for="IdentificationCode" class="form-control" />
                <span asp-validation-for="IdentificationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerName" class="control-label"></label>
                <input asp-for="OwnerName" class="form-control" />
                <span asp-validation-for="OwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contacts.City" class="control-label"></label>
                <input asp-for="Contacts.City" class="form-control" />
                <span asp-validation-for="Contacts.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contacts.Address" class="control-label"></label>
                <input asp-for="Contacts.Address" class="form-control" />
                <span asp-validation-for="Contacts.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contacts.Phone" class="control-label"></label>
                <input asp-for="Contacts.Phone" class="form-control" />
                <span asp-validation-for="Contacts.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contacts.Email" class="control-label"></label>
                <input asp-for="Contacts.Email" class="form-control" value="@Model.Contacts.Email" />
                <span asp-validation-for="Contacts.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">TODO: LOGO</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/companies/companies-create.js"></script>
}
