@model Warehouse.Web.Models.CompanyInfoTabViewModel  

@if (Model.ShouldVisualize)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white active text-capitalize" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">За Фирмата</a>

        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="Company" asp-controller="Home" asp-action="Details">Данни за фирмата</a>
            <a class="dropdown-item" asp-area="BankAccounts" asp-controller="Home" asp-action="Index">Банкови сметки</a>
            <a class="dropdown-item" asp-area="Places" asp-controller="Home" asp-action="Index">Обекти</a>
            <a class="dropdown-item" asp-area="Payments" asp-controller="Home" asp-action="Index">Типове плащания</a>
            <a class="dropdown-item" asp-area="IncomeExpenses" asp-controller="Home" asp-action="Index" >Типове приходи/разходи</a>
        </div>
    </li>
}